/* font style noto serf */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-noto{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* font style inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-inter {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-section-style {
    /* border: 2px solid blue; */
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
/* shyer style  */

.display-flex{
    display: flex;
}

/* fill color 1 */
.color-1{
    color: #252432;
}

/* nav bar style */

.nave-style {
    justify-content: space-between;
    align-items: center;
}



.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    align-items: center;
}

 .nav-links a{
    text-decoration: none;
    /* color: black; */
 }

 .home{
    font-size: 1.5rem;
    font-weight: 700;
    color: #252432;
}

a .About, .Shop{
    font-size: 0.80rem;
    font-weight: 400;
    align-items: center;
    color: #8987A1;
}

/* banner style  */

.section-main{
    /* width: 1140px; */
    /* height: 461px; */
    /* border: 2px solid tomato; */
}
.banner-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img{
    width: 100%;
}